body {
	background: #2c4875;
	font-weight: normal;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: #f29f05;
}

h1, h2, h3 {
	margin: 0;
	text-transform: uppercase;
	color: #f28705;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

p, ul, ol {
	margin-top: 0;
	line-height: 100%;
	text-align: center;
	margin: 0; 
	padding: 0px;
	list-style: none;
	line-height: normal;
	color: #f29f05;
}

li {
	display: block;
	float: left;
	margin: 10px;
}

a {
	color: #DEDEDE;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

#header {
	width: 960px;
	height: 50px;
	margin: 0 auto;
}

#logo {
	width: 860px;
	height: 140px;
	margin: 0 auto;
	color: #f28705;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
}

#logo h1 {
	padding-top: 30px;
	font-size: 50px;
}

#logo a {
	text-decoration: none;
	color: #7700dd;
}

#footer {
	width: 960px;
	margin: 0 auto;
	padding: 70px 0px 20px 0px;
}

#footer li, #footer p {
	margin: 0;
	text-align: center;
	line-height: 100%;
	text-transform: uppercase;
	font-size: 12px;
	color: #6C6A69;
}

#footer a {
	color: #6C6A69;
}
